<%= form_tag search_deaths_path, remote: false, class: "search-form", method: "get" do |f| %>
  <input id="searcher" type="text" name="search_query" autofocus value="<%= search_query %>"><!--
  --><button type="submit"><%= fa_icon 'search' %></button>
  <h3>You can search by</h3>
  <p>
    <ul>
      <li>Deceased Name</li>
      <li>Mothers Name</li>
      <li>Fathers Name</li>
    </ul>
  </p>
<% end %>

<script>
  var element = document.getElementById('searcher');
  moveCursorToEnd(element)
</script>