<%= form_tag find_path, remote: false, class: "search-form", method: "get" do |f| %>
  <input class="datepicker" id="searcher" type="text" name="period" required><!--
  --><button type="submit"><%= fa_icon 'search' %></button>
  <h3>You can search by</h3>
  <p>
    <ul class="stats">
      <li>Period: </li>
      <li>  <input type="radio" name="group" value="day">Day</li>
      <li><input type="radio" name="group" value="week">Week</li>
      <li><input type="radio" name="group" value="month" checked>Month</li>
      <li><input type="radio" name="group" value="year">Year</li>
    </ul>
  </p>

  <p>
    <ul class="stats">
      <li>Set: </li>
      <li>  <input type="radio" name="set" value="marriages">Marriage</li>
      <li><input type="radio" name="set" value="births" checked>Birth</li>
      <li><input type="radio" name="set" value="deaths">Death</li>
    </ul>
  </p>
<% end %>

<script>
  var element = document.getElementById('searcher');
  moveCursorToEnd(element)
  $('.datepicker').pickadate({
    selectYears: 120,
    min: new Date(2018, 6, 1),
    max: new Date(),
    selectMonths: 12,
    format: 'yyyy, mm, dd'
  });
</script>