<h1><%= t('statistics.get_stats') %></h1>
<div class="find-dc">
  <%= render 'unit_search_form', { search_query: @search_query } %>
</div>
<% if @message %>
  <%= javascript_tag do %>
    swal("<%= @message %>", "", "error");
  <% end %>
<% end %>

