<h1><%= t('.recent_certificates') %></h1>
<ul class="items">
  <% if @births.empty? %>
    <h3><%= t('.no_certificates') %></h3>
  <% else %>
    <%== pagy_nav(@pagy) %>
     <% @births.each do|birth|%>
      <%= render 'birth', { birth: birth } %>
    <% end %>
  <% end %>
</ul>



