<h1>Search results</h1>
<div class="find-dc">
  <%= render 'search_form', { search_query: @search_query } %>
</div>
<ul class="children search-results">
   <% if @new_borns.empty? %>
    <h3>No results match your search</h3>
  <% else %>
    <%== pagy_nav(@pagy) %>
    <% @new_borns.each do|new_born|%>
      <%= render "new_born", {new_born: new_born} %>
    <% end %>
  <% end %>
</ul>

