<h1>Find A Deceased Person</h1>
<div class="find-dc">
  <form action="/ui/search" method="get" class="search-form" autocomplete="off">
    <input type="text" name="search_query"><!--
    --><button type="submit"><%= fa_icon 'search' %></button>
    <h3>You can search by</h3>
    <p>
      <ul>
        <li>Deceased Name</li>
        <li>Mothers Name</li>
        <li>Fathers Name</li>
      </ul>
    </p>
  </form>
</div>
