<h1>Marriages</h1>
<h2>Th2 237councils Blog</h2>

<div class="agent">
  <div class="private-details">
    <h3>Private Details</h3>
    <p>Username
      <span>nsoseka</span>
    </p>
    <p>Full Names
      <span>Lukong Isaac Nsoseka</span>
    </p>
    <p>Phone Number
      <span>685574177</span>
    </p>
    <p>Email
      <span>lisaacjunior@yahoo.com</span>
    </p>
  </div>

  <p class="new-marriages basic-stats">200 Newborns Today</p>
  

  <div class="desk-details">
    <p>Council: <span>Kumbo Council</span></p>
    <p>Sub Division: <span>Kumbo</span></p>
    <p>Bui<span>Bui</span></p>
    <p>Region: <span>North West Region</span></p>
  </div>
</div>

<h3>Death Statistics</h3>

<ul>
  <li>Cause of death</li>
  <li>Age of the deceased</li>
</ul>

