<h1>Get Specific Statistics</h1>
<%= form_tag blog_find_path, remote: false, class: "search-form blog-p", method: "get" do |t| %>
  <input class="datepicker" id="searcher" type="text" name="period" required><!--
  --><button type="submit"><%= fa_icon 'search' %></button>

  <p class="choose-council">Choose Council</p>
  <%= select_tag('council_id', options_for_select(Council.all.map { |r| [r.name, r.id] }.unshift(['Choose Council', 88888888])), { class: 'short-select chosen-select' }) %>
  <p>
    <ul class="stats">
      <li>Period: </li>
      <li>  <input type="radio" name="group" value="day">Day</li>
      <li><input type="radio" name="group" value="week">Week</li>
      <li><input type="radio" name="group" value="month" checked>Month</li>
      <li><input type="radio" name="group" value="year">Year</li>
    </ul>
  </p>

  <p>
    <ul class="stats">
      <li>Set: </li>
      <li>  <input type="radio" name="set" value="marriages">Marriage</li>
      <li><input type="radio" name="set" value="births" checked>Birth</li>
      <li><input type="radio" name="set" value="deaths">Death</li>
    </ul>
  </p>
<% end %>

<script>
  var element = document.getElementById('searcher');
  moveCursorToEnd(element)
  $('.datepicker').pickadate({
    selectYears: 120,
    min: new Date(2018, 6, 1),
    max: new Date(),
    selectMonths: 12,
    format: 'yyyy, mm, dd'
  });
  $(".chosen-select").chosen()
</script>
