<h1>Todays Birth Statistics</h1>
<p class="new-marriages basic-stats"><%= @stats[:sum].to_i %> Birth(s) Today</p>

<% if !@stats[:mean].nil? && @stats[:mean] > 0 %>
  <%= render 'statistics/charts', { data: @data, stats: @stats } %>
<% else %>
  <h3 class="nothing">No births registered so far today</h3>
<% end %>
