<h1>Todays Death Statistics</h1>
<p class="new-marriages basic-stats"><%= @stats[:sum].to_i %> Death(s) Today</p>
<% if !@stats[:mean].nil? && @stats[:mean] > 0 %>
  <%= render 'statistics/charts', { data: @data, stats: @stats } %>
<% else %>
  <h3 class="nothing">No deaths registered so far today</h3>
<% end %>
