<h1><%= t('.recent_rd') %></h1>
<ul class="items">
  <% if @deceaseds.empty? %>
    <h3><%= t('.no_deaths') %></h3>
  <% else %>
    <%== pagy_nav(@pagy) %>
    <% @deceaseds.each do |deceased|%>
      <%= render 'deceased', { deceased: deceased } %>
    <% end %>
  <% end %>
</ul>



