<h1><%= t('.recent') %></h1>
<ul class="items">
  <% if @marriages.empty? %>
    <h3><%= t('.no_certificates') %></h3>
  <% else %>
    <%== pagy_nav(@pagy) %>
    <% @marriages.each do|marriage|%>
      <%= render 'marriage', { marriage: marriage } %>
    <% end %>
  <% end %>
</ul>
